<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>ユーザー情報画面</title>
</head>

<body>
    <header>
        <h2>ユーザー情報変更</h2>
        <div>
            <a th:href="@{/contributor/users}">
                <img th:src=@{/images/user.png} width="30" alt="ユーザーのアイコン画像">
            </a>
            <a th:href="@{/contributor/photos}">
                <img th:src=@{/images/book.jpeg} width="30" alt="アルバムのアイコン画像">
            </a>
            <a th:href="@{/logout}">
                <img th:src=@{/images/logout.png} width="30" alt="ログアウトのアイコン画像">
            </a>
        </div>
    </header>
    <form th:action="@{/contributor/photos/edit}" th:method="post" th:object="${photo}">
        <p>写真</p>
        <input type="file" th;field="*{file}" />
        <p>位置情報</p>
        <input type="text" th:field="*{place}" placeholder="位置情報を入力">
        <p>コメント</p>
        <input type="textbox" th:field="*{description}" placeholder="コメントを入力">
        <div>
            <div class="between-button">
                <button type="submit">投稿</button>
            </div>
        </div>

    </form>
</body>
</html>