<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Document</title>
</head>
<body>
    <h1>一覧</h1>
    <!-- <button th:href="@{photos/add}">新規投稿追加</button> -->
    <a th:href="@{/contributor/photos/add}">新規投稿追加</a>
    <div>
    <a th:href="@{/contributor/users}">ユーザー一覧へ</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>画像</th>
                <th>撮影場所</th>
                <th>ユーザーネーム</th>
                <th>コメント</th>
                <th>投稿時間</th>
            </th>
        </thead>
        <tbody>
            <tr th:each = "photo : ${photo}">
                <!-- idはあとでhiddenすること -->
                <td type="hidden" th:text="${photo.id}">ID</td>
                <td th:text="${photo.picture}">画像</td>
                <td th:text="${photo.place}">撮影場所</td>
                <td th:text="${photo.name}">ユーザーネーム</td>
                <td th:text="${photo.comment}">コメント</td>
                <td th:text="${photo.day}">投稿日時</td>
                <td>
                    <!-- ログイン機能ができてから -->
                    <a th:href="@{}">編集</a>
                    <a th:href="@{}">投稿の削除</a>
        </tbody>
    </table>
</body>
</html>