<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/style.css}" rel="stylesheet">
	<title>ユーザー情報画面</title>
</head>

<body>
	<header>
		<h1>ユーザーの新規作成</h1>
		<div>
			<a th:href="@{/contributor/users}">
				<img th:src=@{/images/user.png} width="30" alt="ユーザーのアイコン画像">
			</a>
			<a th:href="@{/contributor/photos}">
				<img th:src=@{/images/book.jpeg} width="30" alt="アルバムのアイコン画像">
			</a>
			<a th:href="@{/logout}">
                <img th:src=@{/images/logout.png} width="30" alt="ログアウトのアイコン画像">
            </a>
		</div>
	</header>
	<form th:action="@{/contributor/users/add}" th:method="${post}" th:object="${user}">
		<p>ユーザー名</p>
		<input type="text" th:field="*{username}" placeholder="ユーザー名を入力">
		<p>パスワード</p>
		<input type="password" th:field="*{password}" placeholder="パスワードを入力">
		<div>
			<div class="between-button">
				<button type="submit">送信</button>
			</div>
		</div>
	</form>
</body>

</html>