<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>ユーザー情報画面</title>
</head>

<body>
    <header>
        <h1>ユーザーの一覧</h1>
            <div>
                <a th:href="@{/contributor/users/add}">
                        <img th:src=@{/images/user_add.png} width="30" alt="ユーザー追加のアイコン画像">
                </a>
                <a th:href="@{/contributor/photos}">
                        <img th:src=@{/images/book.jpeg} width="30" alt="アルバムのアイコン画像">
                </a>

            </div>
    </header>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.username}">名前</td>
                <td>
                    <a th:href="@{/contributor/users/edit/{id}(id=${user.id})}">編集</a>
                    <a th:href="@{/contributor/users/delete/{id}(id=${user.id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>