header {
    background-color: orange;
    text-align: center;

}
header div {
    display: flex;
    justify-content: flex-end;
}
body {
    background-color: rgb(249, 222, 171);
    text-align: center;
}
table {
    width: 750px;
    height: 200px;
    margin: auto;
    /* border-style: solid; */
}
div button {
    background-color: orange;
}
.between-button {
    line-height: 50px;
}
.comment {
    line-height: 50px;
}


